In [6]:
import pandas as pd

In [ ]:
note2number = {
    'B#': 0,
    'C': 0,
    'C#': 1,
    'Db': 1,
    'D': 2,
    'D#': 3,
    'Eb': 3,
    'E': 4,
    'Fb': 4,
    'E#': 5,
    'F': 5,
    'F#': 6,
    'Gb': 6,
    'G': 7,
    'G#': 8,
    'Ab': 8,
    'A': 9,
    'A#': 10,
    'Bb': 10,
    'B': 11,
    'Cb': 11
}

tonalities = {
    '': 'maj',
    'M': 'maj',
    'maj': 'maj',
    'Maj': 'maj',
    'M7': 'maj7',
    'maj7': 'maj7',
    'Maj7': 'maj7',
    'M9': 'maj9',
    'maj9': 'maj9',
    'Maj9': 'maj9',
    'M11': 'maj11',
    'maj11': 'maj11',
    'Maj11': 'maj11',
    'M13': 'maj13',
    'maj13': 'maj13',
    'Maj13': 'maj13',
    '6': 'maj6',
    '7': '7',
    '9': '9',
    'm': 'min',
    'min': 'min',
    'm7': 'min7',
    'min7': 'min7',
    'm9': 'min9',
    'min9': 'min9',
    'm11': 'min11',
    'min11': 'min11',
    'm13': 'min13',
    'min13': 'min13',
    'aug': 'aug',
    'aug7': 'aug7',
    'dim': 'dim',
    'dim7': 'dim7',
    'sus': 'sus4',
    'sus2': 'sus2',
    'sus4': 'sus4',
    '7sus': '7sus4',
    '7sus2': '7sus2',
    '7sus4': '7sus4',
    'mM7': 'mmaj7',
    'mmaj7': 'mmaj7',
    'mMaj7': 'mmaj7',
}

alterations = {
    'add2': 'add9',
    'add4': 'add11',
    'add9': 'add9',
    'add11': 'add11',
    'add13': 'add13',
    '-5': 'b5',
    '-9': 'b9',
    '+5': '#5',
    '+9': '#9',
    '+11': '#11'
}

In [ ]:
def parse_chord(chord):
    root = ''
    for char in chord:

In [8]:
raw_1960 = pd.read_csv("./1960.csv")
raw_1960

,Unnamed: 0,title,artist,key,chords,capo
0,0,Cant Help Falling In Love,Elvis Presley,D,"[['C', 'G', 'Am', 'F', 'C', 'G', 'C', 'C', 'Em...",2.0
1,1,House Of The Rising Sun,The Animals,Am,"[['Am', 'C', 'D', 'F', 'Am', 'E', 'Am', 'E', '...",NaN
2,2,Fly Me To The Moon,Frank Sinatra,Am,"[['Am', 'Dm7', 'G7', 'Cmaj7'], ['F', 'Dm', 'E7...",NaN
3,3,Yesterday,The Beatles,F,"[['F', 'Em7', 'A7', 'Dm', 'Dm/C'], ['Bb', 'C7'...",NaN
4,4,Let It Be,The Beatles,C,"[['C', 'G', 'Am', 'Am7', 'Fmaj7', 'F6'], ['C',...",NaN
...,...,...,...,...,...,...
4995,4995,Im Mad Again,The Animals,NaN,"[['E', 'G', 'E', 'E', 'G', 'E', 'E', 'A', 'G',...",NaN
4996,4996,Around And Around,The Animals,NaN,"[['C', 'Bb', 'C', 'C', 'Bb', 'C', 'F', 'Eb', '...",NaN
4997,4997,You Dont Miss Your Water,Otis Redding,NaN,"[['G'], ['C', 'G'], ['B'], ['Em', 'Dm', 'C'], ...",NaN
4998,4998,Love Chronicles,Al Stewart,NaN,"[['D', 'C', 'G', 'D'], ['C', 'G'], ['D', 'C', ...",NaN
4999,4999,Daydream,The Lovin' Spoonful,C,"[['A13', 'G+5', 'C', 'C', 'C', 'A7'], ['Dm7', ...",1.0